<section hlmCard class="m-2">
    <div class="mx-auto w-full justify-center space-y-6 sm:w-[350px] p-4 md:p-6">
        <div class="space-y-2 text-center">
            <h1 class="text-2xl font-semibold tracking-tight">Create an account</h1>
            <p class="text-muted-foreground text-sm">Enter your email below to create your account</p>
        </div>
        <div class="grid gap-6">
            <form [formGroup]="registerForm" (ngSubmit)="send()" class="flex flex-col gap-2">
                <div class="grid grid-cols-2 gap-2">
                    <label hlmLabel class="sr-only" for="name">First Name</label>
                    <input
                        hlmInput
                        class="w-full"
                        placeholder="First name"
                        type="text"
                        id="firstName"
                        placeholder="John"
                        autocomplete="off"
                        formControlName="first_name"
                    />
                    <label hlmLabel class="sr-only" for="name">Last Name</label>
                    <input
                        hlmInput
                        class="w-full"
                        placeholder="Last name"
                        type="text"
                        id="lastName"
                        placeholder="Doe"
                        autocomplete="off"
                        formControlName="last_name"
                    />
                </div>
                <label hlmLabel class="sr-only" for="email">Email</label>
                <input
                    hlmInput
                    class="w-full"
                    placeholder="Email"
                    type="email"
                    id="email"
                    placeholder="name@example.com"
                    autocomplete="off"
                    formControlName="email"
                />
                <label hlmLabel class="sr-only" for="password">Password</label>
                <input
                    hlmInput
                    class="w-full"
                    placeholder="Password"
                    type="password"
                    id="password"
                    autocomplete="off"
                    formControlName="password"
                />
                <hlm-select class="inline-block" placeholder="Select a role" formControlName="roles">
                    <hlm-select-trigger class="w-full">
                      <hlm-select-value />
                    </hlm-select-trigger>
                    <hlm-select-content>
                      <hlm-option value="content manager">Community Manager</hlm-option>
                      <hlm-option value="photographer">Photographer</hlm-option>
                      <hlm-option value="content reviewer">Content Reviewer</hlm-option>
                    </hlm-select-content>
                </hlm-select>
                <button hlmBtn [disabled]="isLoading() || registerForm.invalid" class="mt-2 w-full" type="submit">
                    @if (isLoading()) {
                        <hlm-icon name="lucideLoader2" size="sm" class="mr-2 animate-spin" />
                    }
                    Create Account
                </button>
            </form>
        </div>
        <p class="text-muted-foreground text-center text-sm sm:px-8">
            By clicking continue, you agree to our
            <a class="hover:text-primary cursor-pointer underline underline-offset-4">Terms of Service</a>
            and
            <a class="hover:text-primary cursor-pointer underline underline-offset-4">Privacy Policy</a>
            .
        </p>
    </div>
</section>
