<div class="flex flex-col items-center px-8 max-w-6xl mx-auto">
    <div class="flex flex-row bg-background w-full my-4 gap-4">
        <hlm-cmd-input-wrapper class="rounded-md flex-1 border-solid border text-foreground" [formGroup]="searchForm">
          <hlm-icon name="lucideSearch" />
          <input class="w-full border-none" placeholder="Search..." hlmInput formControlName="search"/>
        </hlm-cmd-input-wrapper>
        @if(authService.user()?.role?.includes('photographer')) {
          <hlm-dialog #uploadDialog>
            <button brnDialogTrigger hlmBtn [brnMenuTriggerFor]="menu">Add</button>
            <hlm-dialog-content class="sm:max-w-[425px]" *brnDialogContent="let ctx">
                <hlm-dialog-header>
                    <h3 hlmDialogTitle>Add photos</h3>
                </hlm-dialog-header>
                <div class="py-4 grid gap-4">
                    <form>
                        <div class="items-center grid grid-cols-4 gap-4">
                          <label hlmLabel for="image">Photos</label>
                          <input hlmInput id="image" type="file" class="col-span-3" (change)="onFileSelect($event)" multiple/>
                        </div>
                        <div class="items-center grid grid-cols-4 gap-4 mt-4">
                        <label hlmLabel for="image" class="col-span-3">Filter Blurry Photos</label>
                        <label class="text-right" hlmLabel>
                          <hlm-switch (changed)="onFilterChange($event)" />
  
                        </label>
                        
                      </div>
                    </form>
                </div>
                <hlm-dialog-footer>
                  @if(!isUploading()){
                    <button hlmBtn type="submit" [disabled]="!selectedPhotos.length" (click)="onUpload(ctx)">Upload</button>
                  } @else {
                    <button disabled hlmBtn><hlm-icon name="lucideLoader2" size="sm" class="mr-2 animate-spin" /> Please wait</button>
                  }
                </hlm-dialog-footer>
              </hlm-dialog-content>
        </hlm-dialog>
        }
        @if(authService.user()?.role?.includes('content manager')) {
          <button hlmBtn (click)="redirectToPosts()">Posts</button>
        }
      </div>
    @if(isSelecting()) {
      <div class="py-4 bg-background w-full sticky top-0 z-50">
        <app-photos-actions class="w-full"/>
      </div>
    }
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 w-full z-40">
        @for(photo of eventPhotos(); track photo.id) {
          <app-photo [photo]="photo"></app-photo>
        } @empty {
            <app-empty class="w-full col-span-full" />
        }
    </div>
</div>

<ng-template #menu>
</ng-template>