<section class="w-full h-full flex-1 my-4 relative z-50 overflow-auto" hlmCard>
    <div hlmCardHeader>
        <h3 hlmCardTitle>Post</h3>
        <p hlmCardDescription>Autogenerate content for this post, levarage the power of GenAI to focus on what really matters</p>
    </div>
    <p hlmCardContent>
        <label class="block" hlmLabel>
            Tags
            <div class="flex flex-wrap gap-2 my-2">
                @for(tag of displayTags(); track tag) {
                    <a target="_blank" hlmBadge>#{{tag}}</a>
                }
                @if(tags().length > MAX_TAGS) {
                <!-- TODO: see more button -->
                }
            </div>
        </label>
        <label class="flex justify-between items-center" hlmLabel>
            Content 
            <div class="flex flex-row items-center">
                <hlm-dialog>
                    <button hlmBtn variant="ghost" class="bg-gradient-to-r from-purple-500 to-blue-500 text-white bold" brnDialogTrigger>
                        <hlm-icon size='sm' name="lucideSparkles" />
                    </button> 
                    <hlm-dialog-content class="sm:max-w-[425px]" *brnDialogContent="let ctx">
                        <hlm-dialog-header>
                            <h3 hlmDialogTitle>Content Generation</h3>
                            <p hlmCardDescription>Autogenerate content for this post, using event specific information 🚀</p>
                        </hlm-dialog-header>
                        <div class="py-4 grid gap-4">
                            <form>
                                <label hlmLabel for="prompt" class="block w-full">
                                Prompt
                                <input hlmInput id="prompt" type="text" class="w-full"/>
                                </label>
                            </form>
                        </div>
                        <hlm-dialog-footer>
                          @if(!isLoading()){
                            <button hlmBtn type="submit" [disabled]="false" (click)="generateContent(ctx)">Generate</button>
                          } @else {
                            <button disabled hlmBtn><hlm-icon name="lucideLoader2" size="sm" class="mr-2 animate-spin" /> Please wait</button>
                          }
                        </hlm-dialog-footer>
                      </hlm-dialog-content>
                </hlm-dialog>     
            </div>
        </label>
        <textarea class="min-h-[170px] w-full mt-2" hlmInput placeholder="Type your content here.">{{content()}}</textarea>
        
    </p>
    <div hlmSeparator></div>

    <div hlmCardFooter class="flex flex-col">
        <div class="flex w-full justify-between items-center py-4 sticky top-0 z-50 bg-background">
            <h3 hlmCardTitle>Feedback</h3>
            <hlm-dialog>
                <button hlmBtn brnDialogTrigger class="gap-2">
                    <hlm-icon size='sm' name="lucidePlus" />
                    Comment
                </button> 
                <hlm-dialog-content class="sm:max-w-[425px]" *brnDialogContent="let ctx">
                    <hlm-dialog-header>
                        <h3 hlmDialogTitle>Provide feedback</h3>
                        <p hlmCardDescription>Include here comments about the generated content or images in the post</p>
                    </hlm-dialog-header>
                    <div class="py-4 grid gap-4">
                        <form [formGroup]="feedbackForm">
                            <label hlmLabel for="prompt" class="block w-full">
                            Feedback
                            <input hlmInput id="prompt" type="text" class="w-full" formControlName="comment"/>
                            </label>
                        </form>
                    </div>
                    <hlm-dialog-footer>
                      @if(!isLoading()){
                        <button hlmBtn type="submit" [disabled]="false" (click)="addComment(ctx)">Add</button>
                      } @else {
                        <button disabled hlmBtn><hlm-icon name="lucideLoader2" size="sm" class="mr-2 animate-spin" /> Please wait</button>
                      }
                    </hlm-dialog-footer>
                  </hlm-dialog-content>
            </hlm-dialog>
        </div>
        <div class="w-full">
            @for(feedback of feedbacks(); track feedback.id) {
                <app-feedback [feedback]="feedback"></app-feedback>
            }
        </div>
    </div>
</section>