<section hlmCard class="m-2">
    <div hlmCardHeader class="flex flex-row justify-between items-center">
        <div class="flex flex-row">
            <hlm-avatar>
                <img src='/assets/avatar.png' alt='profile picture' hlmAvatarImage />
                <span class='text-white bg-destructive' hlmAvatarFallback>RG</span>
             </hlm-avatar>
             <div class="flex flex-col items-start">
                <!-- <h4 hlmCardTitle>{{feedback.user}}</h4> -->
                <h4 hlmCardTitle>Default User</h4>
                <p>{{date()}}</p>
             </div>
        </div>
        <div>
            <button hlmBtn variant='ghost'>
                <hlm-icon size='base' name="lucideMoreHorizontal" />
            </button>
        </div>
    </div>
    <div hlmCardContent class="grid gap-4">
        <p>{{feedback.feedback_comment}}</p>
    </div>
    <div hlmCardFooter class="justify-between">
    </div>
</section>