<div class="flex flex-col items-center p-8 max-w-6xl mx-auto">
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 w-full">
        @for (event of events(); track event) {
            <button 
                hlmCard 
                [brnCtxMenuTriggerFor]="menu"
                [brnCtxMenuTriggerData]="{event: event}"
                (click)="navigateToEventPhotos(event.id)" 
                class="p-4 w-full h-full min-h-[150px] flex flex-col justify-between items-center text-center hover:scale-105"
            >
                    <div class="flex flex-row justify-between items-center w-full">
                        <h3 hlmCardTitle class="w-full">{{event.title}}</h3>
                    </div>
                    <p hlmCardDescription class="w-full">{{event.description}}</p>
            </button>
        } 
        @if(authService.user()?.role?.includes('content manager')){
        <hlm-dialog>
            <button brnDialogTrigger hlmCard class="p-4 w-full h-full flex flex-col justify-between items-center text-center hover:scale-105">
                <div class="flex flex-col mb-4 gap-2">
                    <hlm-icon size='lg' name="lucidePlus" class="w-full" />
                    <p hlmCardDescription class="w-full">Add new event</p>
                </div>
            </button>
            
            <hlm-dialog-content class="sm:max-w-[425px]" *brnDialogContent="let ctx">
                <hlm-dialog-header>
                    <h3 hlmDialogTitle>Add new event</h3>
                </hlm-dialog-header>
                <div class="py-4 grid gap-4">
                    <form [formGroup]="form" class="flex flex-col gap-4">
                        <div class="items-center grid grid-cols-4 gap-4">
                            <label hlmLabel for="title" class="text-right">Title</label>
                            <input hlmInput id="title" formControlName="title" class="col-span-3" />
                        </div>
                        <div class="items-center grid grid-cols-4 gap-4">
                            <label hlmLabel for="description" class="text-right">Description</label>
                            <textarea hlmInput id="description" formControlName="description" class="col-span-3" rows="5"></textarea>
                        </div>
                        <div class="items-center grid grid-cols-4 gap-4">
                            <label hlmLabel for="file">Context File</label>
                            <input hlmInput id="file" type="file" class="col-span-3" (change)="onFileSelect($event)"/>
                        </div>
                        <p hlmDialogDescription>
                            You can upload a context file for this event. A .txt file containing relevant information about the event. 
                            This would help provide more tailored captions for the posts.
                        </p>
                    </form>
                </div>
                <hlm-dialog-footer>
                    @if(!isUploading()){
                        <button hlmBtn type="submit" (click)="createEvent(ctx)">Add</button>
                      } @else {
                        <button disabled hlmBtn><hlm-icon name="lucideLoader2" size="sm" class="mr-2 animate-spin" /> Please wait</button>
                      }
                </hlm-dialog-footer>
              </hlm-dialog-content>
        </hlm-dialog>
        }
    </div>
</div>

<ng-template #menu let-event="event">
    @if(authService.user()?.role?.includes('content manager')){
    <hlm-menu class="w-64">
        <button inset hlmMenuItem (click)="deleteEvent(event.id)">
          Delete
        </button>
    </hlm-menu>
    }
</ng-template>